html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 320px;
    min-height: 340px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 5px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 70px;
    width: 70px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(100);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 17px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 17px;
    
}

.deck .card.lock {
    background: #8B0000;
    font-size: 17px;
}

.deck .card.stop-event {
    pointer-events: none;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 295px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.score-panel .timer {
    float: right;
    margin-right: 20px;
    width: 40%;
}

/* Modal Content */
.modal{
    display: none; 
    background-color: #fefefe;
    position: fixed; 
    z-index: 1; 
    top:0;
    left:0;
    margin: auto;
    padding: 200px;
    width: 100%; 
    height: 100%;
    text-align: center;
    color: #515b63;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

  }
  button{
    width: 110px;
    height: 30px;
    text-align: center;
    color: white;
    background-color: #02ccba;
    border: 0;
    margin-top: 25px;
  }
  p{
      line-height: 12px;
      color: #515b63
  }
  h2{
      margin-bottom: 50px;
  }

@media screen and (min-width: 400px) and (max-width: 660px){
    .deck {
        width: 400px;
        min-height: 420px;
        padding: 12px;
    }
    .deck .card {
        height: 85px;
        width: 85px;
    }
    .deck .card.show {
        font-size: 23px;
    }
    
    .deck .card.match {
        font-size: 23px;
    }
    
    .deck .card.lock {
        font-size: 23px;
    }       
}

@media screen and (min-width: 660px){
    .deck {
        width: 660px;
        min-height: 680px;
        padding: 32px;
    }
    .deck .card {
        height: 125px;
        width: 125px;
    }
    .deck .card.show {
        font-size: 33px;
    }
    
    .deck .card.match {
        font-size: 33px;
    }
    
    .deck .card.lock {
        font-size: 33px;
    }       
}
